<div>
  <!------ Jetzt bewerben / mobile ------>
  <a [href]="apply" rel="nofollow noopener" class="linkbtn-mobile">Jetzt bewerben</a>

  <!------ Nicht der passende Job? / mobile ------>
  <a href="https://www.fairsolutions-aachen.de/fragebogen/" rel="nofollow noopener" class="linkbtn2-mobile">NICHT DER
    PASSENDE JOB?
    <strong style="display: block">JETZT INITIATIV BEWERBEN!</strong></a>
</div>

<!------ links buttons ------>
<ul class="links-buttons">
  <li class="links-buttons-list">
    <a href="https://www.fairsolutions-aachen.de/ueber-uns/" target="_blank" rel="noopener" class="link-button-link">
      Über uns
    </a>
  </li>
</ul>